<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>마인크래프트 기달리는중.</h2>
        </div>
    </div>
</div>